.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 243px;
    height: 100%;
    max-width: 400px;
    min-width: 205px;
    box-sizing: border-box;
    background-color: #000;
    border-right: 1px solid gray;
}


.list {
    list-style: none;
    text-decoration: none;
}

.navLink {
    text-decoration: none;
}

button {
    border-radius: 5px;
}
