* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #00A82D;
}

body {
    background-color: #000;
    overflow-x: hidden;
}



h5 {
    margin-left: 16px;
}
.splash-wrapper {
    display: grid;
    grid-gap: 24px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, minmax(0,1fr));
    min-width: 288px;
    position: relative;
    z-index: 1 !important;
    /* z-index: 90; */
    transform: translate(0px, 12em)
}

.innerDiv {
    display: flex;
    flex-direction: row;
    padding: 18px 10px 10px 17px;
}


.notebooks {
    background-color: #1A1A1A;
    height: 30vh;
    grid-column: span 2;
    border-radius: 10px;
    overflow-x: scroll;
    margin-left: 250px;
    /* box-shadow: inset -1em 0em 10px rgba(245, 66, 66, 0.6); */
    /* position: relative; */
    z-index: 2 !important;
}

.dummy {
    box-shadow: inset 0em 0em 8px rgb(0, 0, 0);
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 30px;
    width: 1011.33px;
    height: 30vh;
    margin-left: -17px;
    /* fill-opacity: transparent; */
    pointer-events: none;
    background-repeat: no-repeat;
}


.notebook {
    flex: none;
    height: 180px;
    width: 200px;
    margin: 0 12px 0 0;
    cursor: pointer;
    border-radius: 5px;
    background-color: #262626;
    /* position: absolute; */
    overflow: hidden;
    margin-right: 10px;

}
/* 262626 */
.notebookCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* padding-top: 16px;
    padding: 0 16px; */
    padding: 16px 16px;
    background-color: #262626;
    outline: none;
    border: none;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    height: 180px;
}

.notebookTitle {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-weight: 600;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notebookDescription {
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 2px;
}

.notebook:hover {
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    transition: box-shadow 0.3s ease-in-out;
}

.grantLinks {
    grid-column: span 1;
    background-color: #26251C;
    border-radius: 10px;
    border: 1px solid #6F6C52;
}

.myLinks {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.myLinks a {
    margin-top: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white
}

.quoteDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: span 1;
    min-height: 30vh;
    min-width: 280px;
    margin-left: 250px;
    border-radius: 5px;
    padding: 10px;
    background-color: #1A1A1A;
}

.notes {
    background-color: #1A1A1A;
    height: 30vh;
    grid-column: span 2;
    border-radius: 10px;
    overflow-x: scroll;
}

/* .quoteWrapper {
    margin-left: 250px;
} */
